{% extends "todo/main.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
</head>
<body>
    <div class="header-bar">
        <a href="{% url 'task' %}">&#8592; Back</a>
    </div>
   <div class="card-body">
    <form action="" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" class="button" value="Save Task">
    </form>
   </div>
</body>
</html>
{% endblock content %}